ETAimBestandSimLib/dsfinal.txt
ETAimBestandSimLib/dsmodel.c
ETAimBestandSimLib/dsin.txt
ETAimBestandSimLib/dslog.txt
dymosim.exe
dsmodel.c
dsfinal.txt
dymosim.lib
dymosim.exp
dslog.txt
buildlog.txt
dsin.txt
*.c
*.mat


# ignore FMU related files
~FMUOutput
*.fmu
*.obj
buildlog.txt
dsfinal.txt
dslog.txt
dsmodel.c
dsmodelext1.c
dsmodelext2.c
dsmodel_fmuconf.h
fmiModelIdentifier.h